version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: fhirbox
      POSTGRES_PASSWORD: fhirbox
      POSTGRES_DB: fhirbox
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: